@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
a,
input,
div,
footer {
  font-family: lora;
}
h3,
button {
  font-family: montserrat;
}
button {
  font-weight: bold;
}
.input-box {
  margin-bottom: 16px;
}
.input-box input {
  padding: 8px;
}
footer {
  margin-top: 16px;
}
