* {
  font-family: georgia;
}
.container {
  max-width: max(50%, 500px);
  margin: 0 auto;
  text-align: center;
}
.task {
  margin: 32px 0;
  display: flex;
  gap: 32px;
}
input[type=text] {
  padding: 8px;
  width: 50%;
  border: 0;
}
p.error {
  color: #f00;
  display: none;
}
span {
  user-select: none;
  margin-left: 16px;
}
label {
  text-align: left;
  display: inline-block;
  flex-grow: 1;
}
.container:nth-child(4) {
  background-color: #000;
  color: #fff;
  padding: 32px;
  margin-top: 48px;
}
