doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(rel="stylesheet", href="css/index.css", attr)
    title Authentication
  body
    h1 Dashboard
    h3= `Hello, ${user}`
    a(href="/logout") Log out
    footer
      | &copy; Obaro, 2025.
    