doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(rel="stylesheet", href="css/password.css", attr)
    title Authentication
  body
    h3 Create Password
    form(action="/password" method="post")
      .input-box
        input(type="password" name="password" placeholder="Password")
      .input-box
        input(type="password" name="confirmPassword" placeholder="Confirm password")
      - if (msg)
        .info
          h3= msg
      .input-box
        button(type="submit") Create Account
    .info
      h3 
        | Password must be at least 
        | 5 and 10 characters long
        | A-Z, a-z and  0-9 allowed
    footer
      | &copy; Obaro, 2025.